.btn-delete {
  margin: 0 18px;
  width: 50px;
  background-color: lightgrey;
  border: transparent;
  outline: none;
  cursor: pointer;
}

.btn-delete:disabled {
  background-color: transparent;
}

.footer {

  display: flex;
  justify-content: space-around;
  background-color: #78c4d4;

}

.title {
  color: whitesmoke;
  font-size: xx-large;
  display: flex;
  justify-content: space-around;
}
